version: '3.9'

services:
  django:
    build:
      context: .
      dockerfile: ./composer/django/Dockerfile
    volumes:
      - ./djangoapp:/webappVueDjango
    ports:
      - "8000:8000"
    depends_on:
      - vue

  vue:
    build:
      context: .
      dockerfile: ./composer/vue/Dockerfile
    volumes:
      - ./vueapp:/webappVueDjango/vue
    ports:
      - "8080:8080"
